body{
    background:#719614;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #EFD000;
    border-radius: 5px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    BORDER: 4px solid #42253D;
}

.assignment img:hover{
    border: 4px dashed #D70B31;
}

h1{
    color:darkorchid;
    text-align: center;
}

h1:hover {
    color: #42253D;
}

a{
    text-decoration: none;
    color: #42253D;
}

a:hover{
    color:#D70B31;
}